@charset "UTF-8";

body
{   background-image: linear-gradient(90deg,rgb(34, 6, 6), rgba(146, 30, 49, 0.849));
    background-color: black ;
    font-size: 12pt;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
}

h1
{
  color: white;
  font-size: 25pt;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
h2
{
  color: rgb(255, 120, 30) ;
  font-size: 12pt;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
ul
{
  color: white;
  font-size: 12pt;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
 }
a 
{
  color: gray;
  font-size: 12pt;
  text-align: center;
  text-decoration: none;
  list-style-type: none;

}
